*{
    box-sizing: border-box;
}

/*to do: change all fonts to rem*/

:root{
    --light0: #fff;
    --light1: #eee;
    --light2: #ccc;
    --light-text: black;
    --lightgreen: #7CFC00;
    --lightred: #F08080;
    --lightblue: #ADD8E6;

    --dark0: #000;
    --dark1: #555;
    --dark2: #999;
    --dark-text: white;
    --darkgreen: #006400;
    --darkred: #8B0000;
    --darkblue: #0000CC;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    color: var(--light-text);
}

aside{
    background-color: var(--light1);
}

main{
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
}

table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px 2px;
}

td{
    width: 16.66%;
    padding: 10px;
    text-align: center;
}

thead td:first-child{
    border-top-left-radius: 5px;
}

thead td:last-child{
    border-top-right-radius: 5px;
}

thead td{
    background-color: var(--light2);
}

tbody td{
    background-color: var(--light1);
}

.sidebutton{
    padding: 0;
    margin: 0;
    border: 0;
    width: 8.33%;
}

.sidebutton, button[type='submit']{
    transition: 0.05s;
}

.sidebutton:hover, button[type='submit']:hover{
    box-shadow: 0 2px 10px #999;
    transform: translateY(-2px);
}

.sidebutton:active, button[type='submit']:active{
    box-shadow: 0px 0px;
    transform: translate(0px);
}

.sidebutton:nth-last-child(2){
    background-color: var(--lightgreen);
}

.sidebutton:last-child{
    background-color: var(--lightred);
}

tbody tr:first-child td:last-child{
    border-top-right-radius: 5px;
}

tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}

tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

#themeholder{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

#theme{
    width: 40px;
    height: 40px;
}

#theme path{
    fill: var(--light-text);
}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form label{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid gray;
}

form label input{
    flex: 1 1 0;
    text-align: end;
    background-color: transparent;
    border: none;
}

form label input[type='checkbox']{
    flex: 0 0 0;
}

input:focus, input:focus-visible{
    outline: 0;
}

input[type='text'], input[type='number']{
    width: 170px;
}

button[type='submit']{
    min-width: 100px;
    align-self: center;
    background-color: var(--lightgreen);
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    padding: 5px;
}