*{
    box-sizing: border-box;
}

/*to do: change all fonts to rem*/

:root{
    --lv0: #fff;
    --lv1: #eee;
    --lv2: #ccc;
    --text: black;
    --green: #7CFC00;
    --red: #F08080;
    --blue: #ADD8E6;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    color: var(--text);
    caret-color: var(--text);
}

.dark{
    --lv0: #000;
    --lv1: #444;
    --lv2: #777;
    --text: white;
    --green: #006400;
    --red: #8B0000;
    --blue: #0000CC;
}

aside{
    background-color: var(--lv1);
}

#hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
}

#hero h1{
    font-size: 30px;
    font-weight: bold;
}

main{
    background-color: var(--lv0);
    display: flex;
    flex-direction: column;
    padding: 50px 80px;
    overflow: auto;
}

table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px 2px;
}

td{
    width: 16.66%;
    padding: 10px;
    text-align: center;
}

thead td:first-child{
    border-top-left-radius: 5px;
}

thead td:last-child{
    border-top-right-radius: 5px;
}

thead td{
    background-color: var(--lv2);
}

tbody td{
    background-color: var(--lv1);
}

.sidebutton{
    padding: 0;
    margin: 0;
    border: 0;
    width: 8.33%;
}

.sidebutton, button[type='submit']{
    transition: 0.05s;
}

.sidebutton:hover, button[type='submit']:hover{
    box-shadow: 0 2px 10px #999;
    transform: translateY(-2px);
}

.sidebutton:active, button[type='submit']:active{
    box-shadow: 0px 0px;
    transform: translate(0px);
}

.sidebutton:nth-last-child(2){
    background-color: var(--blue);
}

.sidebutton:last-child{
    background-color: var(--red);
}

tbody tr:first-child td:last-child{
    border-top-right-radius: 5px;
}

tbody tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}

tbody tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}

#themeholder{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

#themeholder:hover{
    transform: scale(-1);
}

#theme{
    width: 40px;
    height: 40px;
}

#theme path{
    fill: var(--text);
}

form{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

form label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 0.9rem;
}

input:focus, input:focus-visible{
    outline: 0;
}

input{
    height: 20px;
    padding: 0 20px;
    border: 0;
    border-bottom: 1px solid var(--lv2);
    background-color: transparent;
    transition: 0.1s;
}

input:focus-visible, input:focus{
    outline: 0;
    border-bottom: 3px solid var(--text); 
}

button[type='submit']{
    min-width: 100px;
    align-self: center;
    background-color: var(--green);
    border-radius: 5px;
    border: 0;
    font-size: 15px;
    padding: 5px;
    color: var(--text);
}